<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>DRIP - Drecom Invention Project</title>
  <meta name="description" content="DRIP - Drecom Invention Project は、(株)ドリコムの「発明を産み続ける」という挑戦に取り組む活動です。">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/base.css" rel="stylesheet">

  <script src="//assets.peraichi.com/js/const_common.js"></script>
  <script src="//assets.peraichi.com/js/const_production.js"></script>
  <script src="//webfont.fontplus.jp/accessor/script/fontplus.js?5qoPx6QyJ8k%3D&aa=1" charset="utf-8"></script>
  <script src="//static.quant.jp/lait.js" data-lait="on" data-sid="2bad96c669fe37b88a24137c4092b472" data-tag-version="1.0.0" defer async></script>
  <link rel="icon" href="img/icon.png">
  <meta name="google-site-verification" content="DiVJITwzspckWL-55HV3XHXgyJMVab7I2wQGy_OUokM">
  <meta property="og:image" content="img/logo.png">
  <meta property="og:url" content="http://drip.drecom.co.jp">
  <meta property="og:title" content="DRIP - Drecom Invention Project">
  <meta property="og:site_name" content="DRIP">
  <meta property="og:type" content="website">
  <meta property="og:description" content="DRIP - Drecom Invention Projectは、(株)ドリコムの「発明を産み続ける」という挑戦に取り組む活動です。">
  <link rel="stylesheet" href="css/style.css">
  <link rel=preload as=image href="img/naito-ani.gif" media="screen and (min-width: 770px)">
  <link rel=preload as=image href="img/neco-ani.gif" media="screen and (min-width: 770px)">
  <link rel=preload as=image href="img/mega-ani.gif" media="screen and (min-width: 770px)">
  <link rel=preload as=image href="img/police-ani.gif" media="screen and (min-width: 770px)">
  <link rel=preload as=image href="img/master-ani.gif" media="screen and (min-width: 770px)">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <script>
    $(function() {
      $('#section-17 .e_btn').append(
        '<p class="e_btn_android"><a href="https://play.google.com/store/apps/details?id=jp.co.drecom.pass&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" class="btn btn-primary pera1-editable pera1-removable" target="_blank">button</a></p>'
      );
    });
  </script>
  <script type="text/javascript" src="js/lazysizes.min.js"></script>
  <script type="text/javascript" src="js/lazyLoad.js"></script>
  <script type="text/javascript" src="js/peraichi_setting.js"></script>
</head>

<body data-template-name="branding" style="padding-top: 70px; overflow: auto;" class="ver2 __plain_text_READY__">
  <script id="dataPtengineScript" type="text/javascript" data-id="4e9b0eea">
    window._pt_lt = new Date().getTime();
    window._pt_sp_2 = [];
    _pt_sp_2.push('setAccount,4e9b0eea');
    var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    (function() {
      var atag = document.createElement('script');
      atag.type = 'text/javascript';
      atag.async = true;
      atag.src = _protocol + 'js.ptengine.jp/pta.js';
      var stag = document.createElement('script');
      stag.type = 'text/javascript';
      stag.async = true;
      stag.src = _protocol + 'js.ptengine.jp/pts.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(atag, s);
      s.parentNode.insertBefore(stag, s);
    })();
  </script>
  <div class="pera1-section section s_navigation_fixed" data-section-id="branding-s_navigation_logo_fixed" data-section-name="ナビゲーション・ロゴ(上部に固定)" id="section-20">
    <div class="pera1-editable m_navigation" data-pera1-type="navigation" data-bgcolor="#ffffff" style="text-align: right; background-color: rgb(255, 255, 255);">
      <div class="navigationHeader">
        <div class="e_img pera1-removable"> <img src="img/navi.png" class="e_logo pera1-editable"> </div>
        <div class="btn_navigationToggle"><i></i></div>
      </div>
      <ul class="m_navigationMenu" data-textcolor="#333" style="color: rgb(51, 51, 51);">
        <li><a href="/news" target="_self">News</a></li>
        <li><a href="http://www.drecom.co.jp/company/" target="_blank">Company</a></li>
        <li><a href="http://goo.gl/forms/my00T6ZbZK" target="_blank">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="section s_full_img pera1-section" data-section-id="branding-s_full_img" data-section-name="画像（横幅フルサイズ）" id="section-21">
    <div class="e_img"><img class="pera1-editable" src="img/logo2.png" height="1500" width="500" alt=""></div>
  </div>
  <div class="pera1-section section s_profile" data-section-id="branding-s_profile" data-section-name="プロフィール" id="section-24">
    <div class="container-fluid">
      <h2 class="e_head text-center pera1-editable pera1-removable font-size-32px">発明の種を産み続ける</h2>
      <div class="m_profile">
        <div class="b_full-bgImg_ctt"> </div>
      </div>
      <div class="m_btns-circle">
        <ul> </ul>
      </div>
    </div>
  </div>
  <div class="section s_head pera1-section" data-section-id="branding-s_head" data-section-name="見出し" id="section-35">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="e_head pera1-editable font-size-28px">
            <div style="text-align: center;" data-mce-style="text-align: center;">The goal of this project</div>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="section s_txt pera1-section" data-section-id="branding-s_txt" data-section-name="テキスト" id="section-36">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="e_txt pera1-editable font-size-20px">
            <div style="text-align: center;" data-mce-style="text-align: center;">ドリコムが常に発明を産み続けるためのProject<br><br></div>
            <div style="text-align: center;" data-mce-style="text-align: center;">2018年はAR、ブロックチェーンなどの領域で、</div>
            <div style="text-align: center;" data-mce-style="text-align: center;">ワクワクするような新しい体験の提供を目指します！</div>
            <div style="text-align: center;" data-mce-style="text-align: center;"><br>小さくヒットではなく、</div>
            <div style="text-align: center;" data-mce-style="text-align: center;">三振してもいいから大振りを<br><br>少人数チームでどんどんチャレンジ！</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section s_head pera1-section" data-section-id="branding-s_head" data-section-name="見出し" id="section-33">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="e_head pera1-editable font-size-28px">
            <div style="text-align: center;" data-mce-style="text-align: center;">News<br></div>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="section s_txt pera1-section" data-section-id="branding-s_txt" data-section-name="テキスト" id="section-34">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="e_txt pera1-editable font-size-20px"><em style="font-size: 18px;" data-mce-style="font-size: 18px;">2018/08/02&nbsp;<strong>ビットコインラボ</strong><br><a href="https://bitcoinlab.jp/interview/1721/" target="_blank" data-mce-href="https://bitcoinlab.jp/interview/1721/">仮想通貨メディアビットコインラボにインタビューされました「LoveChain（ラブチェーン）に迫る」</a>2018/07/05&nbsp;<strong>DRECOM</strong><br><a
                href="https://www.drecom.co.jp/pr/2018/07/20180705.php" target="_blank" data-mce-href="https://www.drecom.co.jp/pr/2018/07/20180705.php">ドリコム、初のブロックチェーンサービスをリリース！ 2人だけの記録を永遠に残す「LoveChain（ラブチェーン）</a>2018/05/01&nbsp;<strong>ビットコイナー反省会</strong></em><br><a
              style="font-size: 18px;" href="https://www.youtube.com/watch?v=xrCqjkOKaqQ&amp;feature=youtu.be" target="_blank" data-mce-href="https://www.youtube.com/watch?v=xrCqjkOKaqQ&amp;feature=youtu.be" data-mce-style="font-size: 18px;">YouTube番組ゲスト出演：「BTCガールズトーク
              ：ブロックチェーン女子?!ヨシユカさん」</a><span style="font-size: 18px;" data-mce-style="font-size: 18px;"></span><br><em style="font-size: 18px;" data-mce-style="font-size: 18px;">2018/04/25&nbsp;<strong>111-HAWAII</strong></em><br><a style="font-size: 18px;"
              href="http://111hawaiiaward.com/news/107/" data-mce-href="http://111hawaiiaward.com/news/107/" data-mce-style="font-size: 18px;">街歩きマップアプリ「PASS」とコラボ！111-HAWAII AWARD 受賞店舗マップがアプリに公開！</a><br></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section s_txt pera1-section" data-section-id="branding-s_txt" data-section-name="テキスト" id="section-37">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="e_txt pera1-editable">
            <div style="text-align: right;" data-mce-style="text-align: right;"><a href="news" data-mce-href="news">Read More...</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section s_head pera1-section" data-section-id="branding-s_head" data-section-name="見出し" id="section-12">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="e_head pera1-editable font-size-28px">
            <div style="text-align: center;" data-mce-style="text-align: center;">Our invention<br></div>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="s_full-leftImg section pera1-section" data-section-id="branding-s_full_leftImg" data-section-name="左フル画像" id="section-40">
    <div class="m_full-leftImg">
      <div class="e_img"><img class="img-full pera1-editable" src="img/6-pillars.png"></div>
      <div class="full-leftImg_ctt">
        <h3 class="e_head pera1-editable pera1-removable">6 pillars</h3>
        <div class="e_txt pera1-editable pera1-removable font-size-20px">
          <p>DAppsをまたいで利用可能なトークンを、誰でも生成できるERC721拡張スマートコントラクト</p>
          <p><a href="https://6-pillars.ooo/" target="_blank" data-mce-href="https://6-pillars.ooo/">https://6-pillars.ooo/</a></p>
        </div>
        <p class="e_btn"></p>
      </div>
    </div>
  </div>
  <div class="pera1-section section s_full-leftImg" data-section-id="branding-s_full_leftImg" data-section-name="左フル画像" id="section-22">
    <div class="m_full-leftImg">
      <div class="e_img"><img src="img/lovechain.png" class="img-full pera1-editable"></div>
      <div class="full-leftImg_ctt">
        <h3 class="e_head pera1-editable pera1-removable">LoveChain</h3>
        <div class="e_txt pera1-editable pera1-removable font-size-20px">
          <p><strong>ブロックチェーン上に2人だけのメッセージを永遠に残すサービスです。</strong></p>
          <p>ブロックチェーン上に保存する事によって改ざんされる事なく永遠に記録する事が出来ます。2人だけの思い出をブロックチェーン上に残しましょう。<br><br><a href="https://lovechain.ooo/" target="_blank" data-mce-href="https://lovechain.ooo/">https://lovechain.ooo/</a><br></p>
        </div>
        <p class="e_btn"></p>
      </div>
    </div>
  </div>
  <div class="pera1-section section s_full-leftImg" data-section-id="branding-s_full_leftImg" data-section-name="左フル画像" id="section-17">
    <div class="m_full-leftImg">
      <div class="e_img"><img src="img/pass.png" class="img-full pera1-editable"></div>
      <div class="full-leftImg_ctt">
        <h3 class="e_head pera1-editable pera1-removable">PASS</h3>
        <div class="e_txt pera1-editable pera1-removable font-size-20px">
          <p><strong>街あるきを楽しく、お得に。</strong></p>
          <p>マップでお得クーポンやリアルタイム情報が得られる街歩きアプリです。<br>友達や恋人とグループを作って位置情報共有アプリとして普段使いできます。<br><br><a href="https://pass.town/" target="_blank" data-mce-href="https://pass.town/">https://pass.town/</a><br></p>
        </div>
        <p class="e_btn"><a href="https://itunes.apple.com/jp/app/id1090318837" class="btn btn-primary pera1-editable pera1-removable" target="_blank">button</a></p>
      </div>
    </div>
  </div>
  <div class="section s_head pera1-section" data-section-id="branding-s_head" data-section-name="見出し" id="section-31">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="e_head pera1-editable font-size-28px">
            <div style="text-align: center;" data-mce-style="text-align: center;">Team</div>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="section s_txt pera1-section" data-section-id="branding-s_txt" data-section-name="テキスト" id="section-32">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="e_txt pera1-editable font-size-20px">
            <div style="text-align: center;" data-mce-style="text-align: center;">楽しく、やんちゃに、がむしゃらに</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="s_card-topImg-3col section pera1-section" data-section-id="branding-s_card_topImg_3col" data-section-name="上画像（3列）" id="section-38">
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-4">
          <div class="m_card-topImg">
            <p class="e_img pera1-removable"><img class="pera1-editable" src="img/naito.jpg"></p>
            <h3 class="e_head text-center pera1-editable pera1-removable font-size-16px">Producer</h3>

            <p class="e_btn"></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="m_card-topImg">
            <p class="e_img pera1-removable"><img class="pera1-editable" src="img/neco.jpg"></p>
            <h3 class="e_head text-center pera1-editable pera1-removable font-size-16px">Director</h3>

            <p class="e_btn"></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="m_card-topImg">
            <p class="e_img pera1-removable"><img class="pera1-editable" src="img/mega.jpg"></p>
            <h3 class="e_head text-center pera1-editable pera1-removable font-size-16px">Planner</h3>

            <p class="e_btn"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="s_card-topImg-3col section pera1-section" data-section-id="branding-s_card_topImg_3col" data-section-name="上画像（3列）" id="section-39">
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-4">
          <div class="m_card-topImg">
            <p class="e_img pera1-removable"><img class="pera1-editable" src="img/police.png"></p>
            <h3 class="e_head text-center pera1-editable pera1-removable font-size-16px">Engineer</h3>

            <p class="e_btn"></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="m_card-topImg">
            <p class="e_img pera1-removable"><img class="pera1-editable" src="img/master.jpg"></p>
            <h3 class="e_head text-center pera1-editable pera1-removable font-size-16px">Engineer</h3>

            <p class="e_btn"></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="m_card-topImg">



            <p class="e_btn"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section s_head pera1-section" data-section-id="branding-s_head" data-section-name="見出し" id="section-25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="e_head pera1-editable font-size-28px">
            <div style="text-align: center;" data-mce-style="text-align: center;">Contact us!</div>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="section s_txt pera1-section" data-section-id="branding-s_txt" data-section-name="テキスト" id="section-26">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="e_txt pera1-editable font-size-18px"><em>Media</em><strong>:&nbsp;</strong>取材の申し込み、掲載、どんどん募集してます！<br><em>Partner</em><strong>:&nbsp;</strong>何か面白いことを一緒にやりましょう！ 　<br><em>Recruit</em><strong>:&nbsp;</strong>我こそは！と思う熱気にあふれた若者待っています！</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section s_btn pera1-section" data-section-id="branding-s_btn" data-section-name="ボタン（中）" id="section-28">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <p class="e_btn"><a href="http://goo.gl/forms/my00T6ZbZK" class="btn btn-primary btn pera1-editable" target="_blank" style="background-color: rgb(229, 129, 0);">お問い合わせ</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="section s_img pera1-section" data-section-id="branding-s_img" data-section-name="画像" id="section-30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <p class="e_img"><img class="pera1-editable" src="img/drecom.png" alt=""></p>
        </div>
      </div>
    </div>
  </div>
  <div class="section s_btns-circle pera1-section" data-section-id="branding-s_btns_circle" data-section-name="丸ボタン複数" id="section-27">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="m_btns-circle">
            <ul>
              <li class="pera1-removable"><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdrip.drecom.co.jp" target="_blank"><img class="pera1-editable" src="img/fb.png"
                    alt=""></a></li>
              <li class="pera1-removable"><a href="http://twitter.com/intent/tweet?url=http%3A%2F%2Fdrip.drecom.co.jp&amp;text=DRIP%20-%20Drecom%20Invention%20Project&amp;tw_p=tweetbutton" target="_blank"><img class="pera1-editable" src="img/tw.png"
                    alt=""></a></li>
              <li class="pera1-removable"><a href="http://line.me/R/msg/text/?http%3A%2F%2Fdrip.drecom.co.jp" target="_blank"><img class="pera1-editable" src="img/line.png"
                    alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pera1-section section s_footer-peraichi-fix">
    <div class="container-fluid">
      <div class="e_txt pera1-editable font-size-12px">Copyright 2018 Drecom Co., Ltd. All Rights Reserved.</div>
    </div>
  </div>

  <script id="tmpl_nav" type="text/x-template">
    <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
  <script id="template_html" type="text/x-template"></script>
  <div id="dataGaId" data-id="UA-76789833-1" style="display: none;"></div>
</body>

</html>
