@import "../../utils/vars.scss";

.OurInvention {
  .our-invention-title-area {
    background-color: $colorGray
  }

  .akroglam {
    background-image: url("../../img/akroglam_background.jpeg");
    background-size: cover;
    background-position: right;
    color: $colorWhite;
    text-shadow: 0px 0px 3px #8E9ADE;

    .mobile-show-logo {
      width: 90%;
      margin-top: 100px;
      margin-bottom: 80px;
    }

    a {
      color: #E61E66;
      text-shadow: none;
    }

    .text {
      width: 100%;
    }

    .bigLogo {
      display: none;
    }

    @media (min-width: $deviceWidth) {
      background-position: center;

      .text {
        width: auto;
        margin-left: -10px;
        margin-top: 8px;
        margin-bottom: 16px;
      }

      .bigLogo {
        display: block;
      }

      .smallLogo {
        max-height: 60px;
      }
    }
  }

  .rooot {
    background-image: none;
    color: $colorBlack;

    .mobile-show-logo {
      width: 65%;
      margin-top: 60px;
      margin-bottom: 40px;
    }

    .bigLogo {
      display: none;
    }

    @media (min-width: $deviceWidth) {
      background-image: url("../../img/rooot_background.jpeg");
      background-size: cover;

      .bigLogo {
        display: block;
        max-height: 300px;
      }

      .smallLogo {
        margin-top: 30px;
      }
    }
  }

  .arow {
    background-color: $colorBlack;
    color: $colorWhite;

    .mobile-show-logo {
      display: none;
    }

    @media (min-width: $deviceWidth) {
      .bigLogo {
        margin-right: 9vw;
        margin-left: auto;
      }
      .smallLogo {
        display: block;
        margin-top: 30px;
      }
    }
  }

  .pillars {
    background-image: url("../../img/6-pillars_background.png");
    background-size: cover;

    .mobile-show-logo {
      display: none;
    }

    @media (min-width: $deviceWidth) {
      .bigLogo {
        margin-right: 9vw;
        margin-left: auto;
      }
      .smallLogo {
        display: block;
        margin-top: 30px;
      }
    }
  }

  p {
    margin: 1em 0;
    font-size: 20px;
  }

  @media (max-width: $deviceWidth) {
    a {
      text-align: center;
    }
  }
}